.technologies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .icon-grid-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
.technologies-title {
  font-size: 1.5em;
  background-color: #33cc33;
  padding: 20px;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}


  .icon-item svg {
    width: 75px;
    height: 75px;
    fill: grey;
    transition: transform 0.3s, fill 0.3s;
  }
  
  .icon-item svg:hover {
    transform: scale(1.2);
    fill: white;
  }

  .icon-item::after {
    content: attr(data-tooltip);
    position: relative;
    bottom: -35px; 
    background: #33cc33;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1.2em;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 10; 
  }
  
  .icon-item:hover::after,
  .icon-item:focus::after,
  .icon-item:active::after {
    opacity: 1;
  }
  
  .java-logo {
    width: 120px !important;
    height: 120px !important;
    color: grey;
    position: relative;
    right: 20%;
    transition: transform 0.3s, fill 0.3s;
  }
  
  .java-logo:hover {
    transform: scale(1.2);
    color: white;
  }

  @media (max-width: 768px) {
    .technologies-container {
      flex-direction: column;
      align-items: center;
    }
  
    .icon-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4 columns */
      grid-template-rows: repeat(3, auto); /* 3 rows */
      gap: 15px; /* Adjust gap for smaller screens */
    }

    .java-logo {
        width: 120px !important;
        height: 120px !important;
        color: grey;
        transition: transform 0.3s, fill 0.3s;
        position: relative;
        right: 0;
      }
  
    .java-logo:hover,
    .java-logo:focus,
    .java-logo:active {
      transform: scale(1.2);
      color: white;
    }
  }
  