.graph-image2 {
    border-radius: 20px;
    border: 5px solid #33cc33;
    background-color: #484848 !important;
    margin-right: 20px;
    align-self: center;
}

.graphimg3-title {
    text-align: center;
    color: #fff
}

