.project-container-2 {
  margin-top: 30px;
}

svg {
  max-width: 100%;
}

.node circle {
  transition: fill 0.2s ease; /* Smooth transition for color change */
}

.node circle:hover {
  fill: lightblue; /* Highlight color on hover */
  stroke: #000; /* Optional: Add a border to emphasize */
  stroke-width: 2px;
}

.graphimg2-title {
  text-align: center;
  color: #fff;
  margin: 5px;
}